<!--
/**
 * Copyright 2018 Adobe
 * All Rights Reserved.
 */
-->
<div class="admin__field-complex" css="$data.additionalClasses" visible="visible" attr="'data-index': index">
    <div class="admin__field-complex-content">
        <div repeat="foreach: $data.salable_quantity || [], item: '$salableQuantityData'">
            <div>
                <strong text="$salableQuantityData().stock_name"></strong>
                :
                <span text="$salableQuantityData().qty"></span>
            </div>
        </div>
    </div>
</div>
