<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<tr class="row location">
    <td class="col col-location-details location-details">
        <p class="location-name">
            <text args="location.name"/>
        </p>
        <p class="location-address">
            <text args="location.street"/><br/>
            <text args="location.city"/>, <span text="location.region"></span> <text args="location.postcode"/><br/>
            <text args="location.country"/><br/>
            <a if="location.telephone" attr="'href': 'tel:' + location.telephone" text="location.telephone"></a>
        </p>
        <!-- ko if: location.description -->
            <!-- ko with: {locationDescriptionUnsanitizedHtml: location.description} -->
                <p class="location-description" html="locationDescriptionUnsanitizedHtml"></p>
            <!-- /ko -->
        <!-- /ko -->
    </td>
    <td class="col col-location-actions">
        <div class="select-location" ifnot="$parent.isPickupLocationSelected($data)">
            <button type="button"
                    class="action secondary action-select-shipping-item"
                    click="$parent.selectPickupLocation.bind($parent, $data)">
                <translate args="'Ship Here'"/>
            </button>
        </div>
        <div class="location-selected" if="$parent.isPickupLocationSelected($data)">
            <button type="button" class="action secondary" disabled>
                <span translate="'Selected'"></span>
            </button>
        </div>
    </td>
</tr>
