<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div id="store-selector-popup">
    <div class="block block-search store-selector-search">
        <div class="field search">
            <label class="label" for="store-selector-search-input">
                <span>Search</span>
            </label>
            <div class="control">
                <input
                    id="store-selector-search-input"
                    type="text"
                    name="store-selector-search-query"
                    placeholder="Search with zip code or city name..."
                    class="input-text"
                    maxlength="128"
                    data-bind="textInput: searchQuery"
                >
            </div>
        </div>
        <div class="actions">
            <button
                type="submit"
                title="Search"
                class="action search"
                aria-label="Search"
            >
                <span>Search</span>
            </button>
        </div>
    </div>
    <table class="store-selector-popup-table" data-bind="blockLoader: isLoading">
            <thead>
            <tr class="row">
                <th class="col col-method" translate="'Location Details'"></th>
                <th class="col col-carrier" translate="'Action'"></th>
            </tr>
            </thead>
            <tbody>
                <!-- ko foreach: { data: nearbyLocations(), as: 'location' } -->
                    <!--ko template: { name: $parent.storeSelectorPopupItemTemplate } --><!-- /ko -->
                <!-- /ko -->
            </tbody>
        </table>
        
    </ul>
</div>