<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <advanced>
            <in_store_pickup_api>
                <search_term_delimiter>:</search_term_delimiter>
            </in_store_pickup_api>
        </advanced>
    </default>
</config>
