<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <inventory>
            <inventory_legacy>
                <synchronize_inventory_on_checkout>1</synchronize_inventory_on_checkout>
            </inventory_legacy>
        </inventory>
    </default>
</config>
