<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\InventoryAdminUi\Ui\DataProvider\SourceDataProvider">
        <plugin name="convert_is_pickup_location_active_boolean_to_string" type="Magento\InventoryInStorePickupAdminUi\Plugin\Ui\DataProvider\ConvertBooleanToStringPlugin" sortOrder="10"/>
    </type>
    <type name="Magento\Sales\Block\Adminhtml\Order\View\Info">
        <plugin name="hide-edit-link" type="Magento\InventoryInStorePickupAdminUi\Plugin\Sales\Order\View\ShippingAddress\HideEditLink"/>
    </type>
</config>
