<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\GraphQl\Query\Resolver\Argument\FieldEntityAttributesPool">
        <arguments>
            <argument name="attributesInstances" xsi:type="array">
                <item name="pickupLocations" xsi:type="object">Magento\InventoryInStorePickupGraphQl\Model\Resolver\PickupLocations\FilterArgument\PickupLocationsAttributesForAst</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\Cache\Tag\Strategy\Factory">
        <arguments>
            <argument name="customStrategies" xsi:type="array">
                <item name="Magento\InventoryApi\Api\Data\SourceInterface" xsi:type="object">Magento\InventoryInStorePickupGraphQl\Model\Cache\Tag\Strategy\PickupLocation</item>
            </argument>
        </arguments>
    </type>
</config>
