<?xml version="1.0"?>
<!--
/**
 * Copyright 2019 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="inventory_stock_save_commit_after">
        <observer name="stock_save" instance="\Magento\InventoryIndexer\Observer\StockSaveObserver"/>
    </event>
</config>
