// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Styling for tooltip styling
//  ---------------------------------------------

.admin__field-saleable-qty {
    .admin__field-tooltip-content {
        font-size: 14px;
        font-weight: normal;
        right: -5rem;
        width: 29rem;
    }
    margin-top: 0;
}
