<div id="store-selector" data-bind="blockLoader: isLoading">
    <each if="!quoteIsVirtual" args="getRegion('customer-email')" render="" />

    <div class="step-title" data-bind="i18n: 'Store'" data-role="title"></div>
    <div
        id="checkout-step-store-selector"
        class="step-content"
        data-role="content"
    >
        <render args="selectedLocationTemplate"/>

        <each args="getRegion('after-selected-location')" render="" />

        <form class="form-continue" data-bind="submit: setPickupInformation" novalidate="novalidate">
            <div class="actions-toolbar">
                <div class="secondary">
                    <button
                        type="button"
                        class="button action"
                        click="openPopup"
                    >
                        <span><!-- ko i18n: 'Select Other'--><!-- /ko --></span>
                    </button>
                </div>
                <div class="primary">
                    <button
                        data-role="opc-continue"
                        type="submit"
                        class="button action continue primary"
                    >
                        <span><!-- ko i18n: 'Next'--><!-- /ko --></span>
                    </button>
                </div>
            </div>
        </form>
        <div id="opc-store-selector-popup" render="storeSelectorPopupTemplate" />
    </div>
</div>
