<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<li
    id="store-pickup"
    data-bind="fadeVisible: isVisible()"
    css="'selected-shipping': !isStorePickupSelected(), 'selected-store-pickup': isStorePickupSelected()"
>
    <render args="deliveryMethodSelectorTemplate"/>

    <!-- ko if: isStorePickupSelected -->
        <!-- ko foreach: getRegion('store-selector') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    <!--/ko-->
</li>

