<?xml version="1.0"?>
<!--
/**
 * Copyright 2020 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Bundle\Model\ResourceModel\Indexer\StockStatusQueryProcessorInterface" type="Magento\InventoryBundleProductIndexer\Indexer\InventoryStockStatusQueryProcessor" />
    <type name="Magento\Bundle\Api\ProductLinkManagementInterface">
        <plugin name="reindex_source_items_after_add_bundle_selection" type="Magento\InventoryBundleProductIndexer\Plugin\Bundle\Model\LinkManagement\ReindexSourceItemsAfterAddBundleSelectionPlugin"/>
        <plugin name="reindex_source_items_after_save_bundle_selection" type="Magento\InventoryBundleProductIndexer\Plugin\Bundle\Model\LinkManagement\ReindexSourceItemsAfterSaveBundleSelectionPlugin"/>
        <plugin name="reindex_source_items_after_remove_bundle_selection" type="Magento\InventoryBundleProductIndexer\Plugin\Bundle\Model\LinkManagement\ReindexSourceItemsAfterRemoveBundleSelectionPlugin"/>
    </type>
    <type name="Magento\Bundle\Api\ProductLinkManagementAddChildrenInterface">
        <plugin name="reindex_source_items_after_bulk_add_bundle_selection" type="Magento\InventoryBundleProductIndexer\Plugin\Bundle\Model\LinkManagement\ReindexSourceItemsAfterBulkAddBundleSelectionPlugin"/>
    </type>
    <type name="Magento\InventoryIndexer\Indexer\Stock\DataProvider">
        <arguments>
            <argument name="siblingSelectBuilders" xsi:type="array">
                <item name="bundle" xsi:type="object">Magento\InventoryBundleProductIndexer\Indexer\SelectBuilder</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\InventoryIndexer\Indexer\SiblingProductsProvidersPool">
        <arguments>
            <argument name="siblingProductsProviders" xsi:type="array">
                <item name="bundle" xsi:type="object">Magento\InventoryBundleProductIndexer\Indexer\SiblingProductsProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Bundle\Model\ResourceModel\Indexer\Stock">
        <plugin name="default_stock_indexer_plugin" type="Magento\InventoryBundleProductIndexer\Plugin\Bundle\Model\ResourceModel\Indexer\StockPlugin" />
    </type>
    <type name="Magento\Bundle\Model\ResourceModel\Indexer\BundleOptionStockDataSelectBuilder">
        <plugin name="join_reservations_table" type="Magento\InventoryBundleProductIndexer\Plugin\Bundle\Model\ResourceModel\Indexer\BundleOptionStockDataSelectBuilderPlugin" />
    </type>
    <type name="Magento\Bundle\Model\ResourceModel\Indexer\OptionQtyExpressionProvider">
        <plugin name="join_reservations_table" type="Magento\InventoryBundleProductIndexer\Plugin\Bundle\Model\ResourceModel\Indexer\OptionQtyExpressionProviderPlugin" />
    </type>
</config>
