<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Configuration query interfaces -->
    <preference for="Magento\InventoryConfigurationApi\Api\GetStockItemConfigurationInterface" type="Magento\InventoryConfiguration\Model\GetStockItemConfiguration"/>
    <preference for="Magento\InventoryConfigurationApi\Api\SaveStockItemConfigurationInterface" type="Magento\InventoryConfiguration\Model\SaveStockItemConfiguration"/>
<!--
    <preference for="Magento\InventoryConfigurationApi\Api\Data\StockItemConfigurationInterface" type="Magento\InventoryConfiguration\Model\StockItemConfiguration"/>
-->
    <!-- Product types -->
    <preference for="Magento\InventoryConfigurationApi\Model\IsSourceItemManagementAllowedForProductTypeInterface" type="Magento\InventoryConfiguration\Model\IsSourceItemManagementAllowedForProductType"/>
    <preference for="Magento\InventoryConfigurationApi\Model\GetAllowedProductTypesForSourceItemManagementInterface" type="Magento\InventoryConfiguration\Model\GetAllowedProductTypesForSourceItemManagement"/>
    <type name="Magento\CatalogInventory\Model\System\Config\Backend\Minqty">
        <plugin name="allow_negative_min_qty_in_config"
                type="Magento\InventoryConfiguration\Plugin\CatalogInventory\Model\System\Config\Backend\Minqty\AllowNegativeMinQtyInConfigPlugin"/>
    </type>
    <!-- Inventory Configuration -->
    <preference for="Magento\InventoryConfigurationApi\Api\Data\SourceItemConfigurationInterface" type="Magento\InventoryConfiguration\Model\SourceItemConfiguration"/>
    <preference for="Magento\InventoryConfigurationApi\Api\Data\StockItemConfigurationInterface" type="Magento\InventoryConfiguration\Model\StockItemConfiguration"/>
    <preference for="Magento\InventoryConfigurationApi\Api\GetSourceConfigurationInterface" type="Magento\InventoryConfiguration\Model\GetSourceConfiguration"/>
    <preference for="Magento\InventoryConfigurationApi\Api\SaveSourceConfigurationInterface" type="Magento\InventoryConfiguration\Model\SaveSourceConfiguration"/>
    <preference for="Magento\InventoryConfigurationApi\Api\GetStockConfigurationInterface" type="Magento\InventoryConfiguration\Model\GetStockConfiguration"/>
    <preference for="Magento\InventoryConfigurationApi\Api\SaveStockConfigurationInterface" type="Magento\InventoryConfiguration\Model\SaveStockConfiguration"/>
    <type name="Magento\CatalogInventory\Model\ResourceModel\Stock\Item">
        <plugin name="save_stock_item_configuration" type="Magento\InventoryConfiguration\Plugin\CatalogInventory\Model\ResourceModel\Stock\Item\SaveStockItemConfigurationPlugin"/>
        <plugin name="save_source_item_configuration" type="Magento\InventoryConfiguration\Plugin\CatalogInventory\Model\ResourceModel\Stock\Item\SaveSourceItemConfigurationPlugin"/>
    </type>
    <type name="Magento\CatalogInventory\Api\Data\StockItemInterface">
        <plugin name="adapt_get_manage_stock" type="Magento\InventoryConfiguration\Plugin\CatalogInventory\Api\Data\StockItemInterface\GetManageStockPlugin"/>
        <plugin name="adapt_get_use_config_manage_stock" type="Magento\InventoryConfiguration\Plugin\CatalogInventory\Api\Data\StockItemInterface\GetUseConfigManageStockPlugin"/>
        <plugin name="adapt_get_is_qty_decimal" type="Magento\InventoryConfiguration\Plugin\CatalogInventory\Api\Data\StockItemInterface\GetIsQtyDecimalPlugin"/>
        <plugin name="adapt_get_use_config_is_qty_decimal" type="Magento\InventoryConfiguration\Plugin\CatalogInventory\Api\Data\StockItemInterface\GetUseConfigIsQtyDecimalPlugin"/>
        <plugin name="adapt_get_is_decimal_divided" type="Magento\InventoryConfiguration\Plugin\CatalogInventory\Api\Data\StockItemInterface\GetIsDecimalDividedPlugin"/>
        <plugin name="adapt_get_use_config_is_decimal_divided" type="Magento\InventoryConfiguration\Plugin\CatalogInventory\Api\Data\StockItemInterface\GetUseConfigIsDecimalDividedPlugin"/>
        <plugin name="adapt_get_min_qty" type="Magento\InventoryConfiguration\Plugin\CatalogInventory\Api\Data\StockItemInterface\GetMinQtyPlugin"/>
        <plugin name="adapt_get_use_config_min_qty" type="Magento\InventoryConfiguration\Plugin\CatalogInventory\Api\Data\StockItemInterface\GetUseConfigMinQtyPlugin"/>
        <plugin name="adapt_get_min_sale_qty" type="Magento\InventoryConfiguration\Plugin\CatalogInventory\Api\Data\StockItemInterface\GetMinSaleQtyPlugin"/>
        <plugin name="adapt_get_use_config_min_sale_qty" type="Magento\InventoryConfiguration\Plugin\CatalogInventory\Api\Data\StockItemInterface\GetUseConfigMinSaleQtyPlugin"/>
        <plugin name="adapt_get_max_sale_qty" type="Magento\InventoryConfiguration\Plugin\CatalogInventory\Api\Data\StockItemInterface\GetMaxSaleQtyPlugin"/>
        <plugin name="adapt_get_use_config_max_sale_qty" type="Magento\InventoryConfiguration\Plugin\CatalogInventory\Api\Data\StockItemInterface\GetUseConfigMaxSaleQtyPlugin"/>
        <plugin name="adapt_get_backorders" type="Magento\InventoryConfiguration\Plugin\CatalogInventory\Api\Data\StockItemInterface\GetBackordersPlugin"/>
        <plugin name="adapt_get_use_config_backorders" type="Magento\InventoryConfiguration\Plugin\CatalogInventory\Api\Data\StockItemInterface\GetUseConfigBackordersPlugin"/>
        <plugin name="adapt_get_notify_stock_qty" type="Magento\InventoryConfiguration\Plugin\CatalogInventory\Api\Data\StockItemInterface\GetNotifyStockQtyPlugin"/>
        <plugin name="adapt_get_use_config_notify_stock_qty" type="Magento\InventoryConfiguration\Plugin\CatalogInventory\Api\Data\StockItemInterface\GetUseConfigNotifyStockQtyPlugin"/>
        <plugin name="adapt_get_qty_increments" type="Magento\InventoryConfiguration\Plugin\CatalogInventory\Api\Data\StockItemInterface\GetQtyIncrementsPlugin"/>
        <plugin name="adapt_get_use_config_qty_increments" type="Magento\InventoryConfiguration\Plugin\CatalogInventory\Api\Data\StockItemInterface\GetUseConfigQtyIncrementsPlugin"/>
        <plugin name="adapt_get_enable_qty_increments" type="Magento\InventoryConfiguration\Plugin\CatalogInventory\Api\Data\StockItemInterface\GetEnableQtyIncrementsPlugin"/>
        <plugin name="adapt_get_use_config_enable_qty_increments" type="Magento\InventoryConfiguration\Plugin\CatalogInventory\Api\Data\StockItemInterface\GetUseConfigEnableQtyIncrementsPlugin"/>
        <plugin name="adapt_get_low_stock_date" type="Magento\InventoryConfiguration\Plugin\CatalogInventory\Api\Data\StockItemInterface\GetLowStockDatePlugin"/>
    </type>
</config>
