<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Product types -->
    <preference for="Magento\InventoryConfigurationApi\Model\IsSourceItemManagementAllowedForProductTypeInterface" type="Magento\InventoryConfiguration\Model\IsSourceItemManagementAllowedForProductType"/>
    <preference for="Magento\InventoryConfigurationApi\Model\GetAllowedProductTypesForSourceItemManagementInterface" type="Magento\InventoryConfiguration\Model\GetAllowedProductTypesForSourceItemManagement"/>
    <!-- Inventory Configuration -->
    <preference for="Magento\InventoryConfigurationApi\Api\Data\SourceItemConfigurationInterface" type="Magento\InventoryConfiguration\Model\SourceItemConfiguration"/>
    <preference for="Magento\InventoryConfigurationApi\Api\Data\StockItemConfigurationInterface" type="Magento\InventoryConfiguration\Model\StockItemConfiguration"/>
    <preference for="Magento\InventoryConfigurationApi\Api\GetSourceConfigurationInterface" type="Magento\InventoryConfiguration\Model\GetSourceConfiguration"/>
    <preference for="Magento\InventoryConfigurationApi\Api\SaveSourceConfigurationInterface" type="Magento\InventoryConfiguration\Model\SaveSourceConfiguration"/>
    <preference for="Magento\InventoryConfigurationApi\Api\GetStockConfigurationInterface" type="Magento\InventoryConfiguration\Model\GetStockConfiguration"/>
    <preference for="Magento\InventoryConfigurationApi\Api\SaveStockConfigurationInterface" type="Magento\InventoryConfiguration\Model\SaveStockConfiguration"/>
    <preference for="Magento\InventoryConfigurationApi\Api\GetInventoryConfigurationInterface" type="Magento\InventoryConfiguration\Model\GetInventoryConfiguration"/>
</config>
