<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\CatalogSearch\Model\Indexer\Fulltext\Action\GetSearchableProductsSelect">
        <plugin name="stock_filters_by_child_products" type="Magento\InventoryCatalogSearch\Plugin\CatalogSearch\Model\Indexer\ChildProductFilterByInventoryStockPlugin"/>
    </type>
    <type name="Magento\InventoryCatalogSearch\Model\FullTextIndexUpdateProcessor">
        <arguments>
            <argument name="sortOrder" xsi:type="number">20</argument>
        </arguments>
    </type>
    <type name="Magento\InventoryIndexer\Indexer\SourceItem\Strategy\Sync">
        <arguments>
            <argument name="saleabilityChangesProcessorsPool" xsi:type="array">
                <item name="fullTextIndexUpdateProcessor" xsi:type="object">Magento\InventoryCatalogSearch\Model\FullTextIndexUpdateProcessor</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\InventoryIndexer\Model\CompositeProductSalabilityChangeProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="update_fulltext_index" sortOrder="20" xsi:type="object">Magento\InventoryCatalogSearch\Model\UpdateFulltextIndexOnProductSalabilityChange</item>
            </argument>
        </arguments>
    </type>
</config>
