<?xml version="1.0"?>
<!--
/**
 * Copyright 2018 Adobe
 * All Rights Reserved.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\InventoryGroupedProductIndexer\Indexer\SiblingProductsProvider">
        <arguments>
            <argument name="selectBuilder" xsi:type="object">Magento\InventoryGroupedProductIndexer\Indexer\SelectBuilder</argument>
        </arguments>
    </type>
    <type name="Magento\InventoryIndexer\Indexer\Stock\IndexDataFiller">
        <arguments>
            <argument name="siblingProductsProviders" xsi:type="array">
                <item name="grouped" xsi:type="object">Magento\InventoryGroupedProductIndexer\Indexer\SiblingProductsProvider</item>
            </argument>
        </arguments>
    </type>
</config>
