<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- SalesChannel -->
    <preference for="Magento\InventorySalesApi\Api\Data\SalesChannelInterface" type="Magento\InventorySales\Model\SalesChannel"/>
    <preference for="Magento\InventorySales\Model\GetAssignedSalesChannelsForStockInterface" type="Magento\InventorySales\Model\GetAssignedSalesChannelsForStock"/>
    <preference for="Magento\InventorySales\Model\ReplaceSalesChannelsForStockInterface" type="Magento\InventorySales\Model\ResourceModel\ReplaceSalesChannelsDataForStock"/>
    <preference for="Magento\InventorySales\Ui\SalesChannelNameResolverInterface" type="Magento\InventorySales\Ui\WebsiteNameResolver"/>
    <preference for="Magento\InventorySales\Model\GetAssignedStockIdForWebsiteInterface" type="Magento\InventorySales\Model\ResourceModel\GetAssignedStockIdForWebsite"/>
    <preference for="Magento\InventorySales\Model\DeleteSalesChannelToStockLinkInterface" type="Magento\InventorySales\Model\ResourceModel\DeleteSalesChannelToStockLink"/>
    <type name="Magento\InventoryApi\Api\StockRepositoryInterface">
        <plugin name="enrich_stock_item_list_data_by_sale_channels_data" type="Magento\InventorySales\Plugins\Inventory\Stock\EnrichStockItemListDataBySalesChannelsDataPlugin"/>
        <plugin name="enrich_stock_item_data_by_sale_channels_data" type="Magento\InventorySales\Plugins\Inventory\Stock\EnrichStockItemDataBySalesChannelsDataPlugin"/>
        <plugin name="save_sales_channels_related_to_stock" type="Magento\InventorySales\Plugins\Inventory\Stock\SaveSalesChannelListRelatedToStockItemPlugin"/>
    </type>
    <type name="Magento\Inventory\Ui\DataProvider\StockDataProvider">
        <plugin name="enrich_stock_data_provider_by_sale_channel_data" type="Magento\InventorySales\Plugins\Inventory\Stock\EnrichStockItemDataProviderBySalesChannelDataPlugin" />
    </type>
    <type name="Magento\InventoryApi\Api\IsProductInStockInterface">
        <plugin name="check_ability_to_backorder_stock_items" type="Magento\InventorySales\Plugins\Inventory\Stock\CheckAbilityToBackorderStockItemPlugin"/>
    </type>
</config>
