<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sales_email>
            <order_ready_for_pickup>
                <enabled>1</enabled>
                <template>sales_email_order_ready_for_pickup_template</template>
                <guest_template>sales_email_order_ready_for_pickup_guest_template</guest_template>
                <identity>storepickup</identity>
                <copy_method>bcc</copy_method>
            </order_ready_for_pickup>
        </sales_email>
        <trans_email>
            <ident_storepickup>
                <email>sales@example.com</email>
                <name>Store pickup</name>
            </ident_storepickup>
        </trans_email>
    </default>
</config>
