<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="get_pickup_location_for_order" type="Magento\InventoryInStorePickup\Plugin\Sales\Order\GetPickupLocationForOrderPlugin"/>
        <plugin name="save_pickup_location_for_order" type="Magento\InventoryInStorePickup\Plugin\Sales\Order\SavePickupLocationForOrderPlugin"/>
    </type>
    <type name="Magento\InventoryApi\Api\SourceRepositoryInterface">
        <plugin name="load_in_store_pickup_on_get_list" type="Magento\InventoryInStorePickup\Plugin\InventoryApi\SourceRepository\LoadInStorePickupOnGetListPlugin"/>
        <plugin name="load_in_store_pickup_on_get" type="Magento\InventoryInStorePickup\Plugin\InventoryApi\SourceRepository\LoadInStorePickupOnGetPlugin"/>
        <plugin name="save_in_store_pickup_links" type="Magento\InventoryInStorePickup\Plugin\InventoryApi\SourceRepository\SaveInStorePickupPlugin"/>
    </type>
    <preference for="Magento\InventoryInStorePickupApi\Api\GetNearbySourcesByPostcodeInterface"
            type="Magento\InventoryInStorePickup\Model\GetNearbySourcesByPostcode"/>
    <preference for="Magento\InventoryInStorePickupApi\Api\Data\PickupLocationInterface" type="Magento\InventoryInStorePickup\Model\PickupLocation" />
    <preference for="Magento\InventoryInStorePickupApi\Api\GetNearbyPickupLocationsInterface" type="Magento\InventoryInStorePickup\Model\GetNearbyPickupLocations"/>
    <preference for="Magento\InventoryInStorePickupApi\Api\Data\AddressInterface" type="Magento\InventoryInStorePickup\Model\Address" />
    <preference for="Magento\InventoryInStorePickupApi\Api\GetPickupLocationsInterface" type="Magento\InventoryInStorePickup\Model\GetPickupLocations" />
    <preference for="Magento\InventoryInStorePickup\Model\Carrier\Command\GetShippingPriceInterface" type="Magento\InventoryInStorePickup\Model\Carrier\Command\GetShippingPrice" />

    <preference for="Magento\InventoryInStorePickupApi\Api\NotifyOrderIsReadyForPickupInterface"
            type="Magento\InventoryInStorePickup\Model\NotifyOrderIsReadyForPickup"/>
    <preference for="Magento\InventoryInStorePickupApi\Api\IsOrderReadyForPickupInterface"
            type="Magento\InventoryInStorePickup\Model\IsOrderReadyForPickup"/>
    <type name="Magento\InventoryInStorePickup\Model\Order\Email\ReadyForPickupSender">
        <arguments>
            <argument name="identityContainer" xsi:type="object">\Magento\InventoryInStorePickup\Model\Order\Email\Container\ReadyForPickupIdentity</argument>
        </arguments>
    </type>

    <type name="Magento\InventoryInStorePickup\Model\PickupLocation\Mapper">
        <arguments>
            <argument name="map" xsi:type="array">
                <item name="source_code" xsi:type="string">source_code</item>
                <item name="email" xsi:type="string">email</item>
                <item name="fax" xsi:type="string">fax</item>
                <item name="contact_name" xsi:type="string">contact_name</item>
                <item name="description" xsi:type="string">description</item>
                <item name="latitude" xsi:type="string">latitude</item>
                <item name="longitude" xsi:type="string">longitude</item>
                <item name="country_id" xsi:type="string">country_id</item>
                <item name="region_id" xsi:type="string">region_id</item>
                <item name="region" xsi:type="string">region</item>
                <item name="city" xsi:type="string">city</item>
                <item name="street" xsi:type="string">street</item>
                <item name="postcode" xsi:type="string">postcode</item>
                <item name="phone" xsi:type="string">phone</item>
            </argument>
        </arguments>
    </type>
</config>
