<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<if args="visible()">
    <text args="pickupLocation().name"/><br/>
    <text args="pickupLocation().street"/><br/>
    <text args="pickupLocation().city "/>, <span text="pickupLocation().region"></span> <text args="pickupLocation().postcode"/><br/>
    <text args="getCountryName(pickupLocation().countryId)"/><br/>
    <a if="pickupLocation().telephone" attr="'href': 'tel:' + pickupLocation().telephone" text="pickupLocation().telephone"></a><br/>
</if>
