<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\InventoryInStorePickupShippingApi\Model\Carrier\Command\GetFreePackagesInterface" type="Magento\InventoryInStorePickupShipping\Model\Carrier\Command\GetFreePackages" />
    <preference for="Magento\InventoryInStorePickupShippingApi\Model\Carrier\Command\GetShippingPriceInterface" type="Magento\InventoryInStorePickupShipping\Model\Carrier\Command\GetShippingPrice" />
    <preference for="Magento\InventoryInStorePickupShippingApi\Model\IsInStorePickupDeliveryCartInterface" type="Magento\InventoryInStorePickupShipping\Model\IsInStorePickupDeliveryCart" />
    <preference for="Magento\InventoryInStorePickupShippingApi\Model\IsInStorePickupDeliveryAvailableForCartInterface" type="Magento\InventoryInStorePickupShipping\Model\IsInStorePickupDeliveryAvailableForCart"/>
    <type name="Magento\InventoryInStorePickupShippingApi\Model\Carrier\Validation\RequestValidatorChain">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="sales_channel" xsi:type="object">Magento\InventoryInStorePickupShipping\Model\Carrier\Validation\SalesChannelValidator</item>
                <item name="pickup_locations_availability" xsi:type="object">Magento\InventoryInStorePickupShipping\Model\Carrier\Validation\PickupLocationsAvailabilityValidator</item>
            </argument>
        </arguments>
    </type>
</config>
