<?xml version="1.0"?>
<!--
/**
 * Copyright 2024 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\InventoryIndexer\Indexer\Stock\SkuListsProcessor">
        <arguments>
            <argument name="saleabilityChangesProcessorsPool" xsi:type="array">
                <item name="ruleIndexUpdateProcessor" xsi:type="object">Magento\InventoryCatalogRule\Model\RuleIndexUpdateProcessor</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="CatalogRuleCustomConditionProvider" type="Magento\Framework\Api\SearchCriteria\CollectionProcessor\ConditionProcessor\CustomConditionProvider">
        <arguments>
            <argument name="customConditionProcessors" xsi:type="array">
                <item name="quantity_and_stock_status" xsi:type="object">Magento\InventoryCatalogRule\Model\AttributeQuantityAndStock</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Rule\Model\Condition\Product\AbstractProduct">
        <plugin name="validate_product_special_attribute" type="Magento\InventoryCatalogRule\Plugin\ValidateProductSpecialAttributePlugin"/>
    </type>
</config>
