<?xml version="1.0"?>
<!--
  ~ Copyright © Magento, Inc. All rights reserved.
  ~ See COPYING.txt for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_submit_all_after">
        <observer name="inventory_in_store_pickup_update_order_grid_after_order_placed" instance="Magento\InventoryInStorePickupSales\Observer\UpdateOrderGrid" />
    </event>
    <event name="config_data_sales_email_general_async_sending_disabled">
        <observer name="notify_order_send_emails" instance="Magento\InventoryInStorePickupSales\Observer\NotifyOrdersAreReadyForPickupSendEmailObserver" />
    </event>
</config>
