<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Controller\Index\Index">
        <plugin name="multishipping_disabler" type="Magento\InventoryInStorePickupMultishipping\Plugin\Checkout\Controller\Index\Index\Plugin" sortOrder="50" />
    </type>
</config>
