<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\InventorySalesApi\Model\GetStockItemDataInterface" type="Magento\InventoryIndexer\Model\ResourceModel\GetStockItemData"/>
    <type name="Magento\CatalogInventory\Model\Spi\StockRegistryProviderInterface">
        <plugin name="get_non_cached_stock_items" type="Magento\TestModuleInventoryStateCache\Plugin\CatalogInventory\Model\StockRegistryProvider\GetNonCachedStockItemPlugin"/>
    </type>
</config>
